
{% extends 'appefirst/base.html' %}
{% csrf_token %}
{% block content %}
    <div class="wrapper">

    {% if user.is_authenticated %}


      <div class="flex">
      {% for con in content %}

          <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ con.country_name}}
        </a>


        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          {% for i in con.products_set.all %}
          <a class="dropdown-item" href="#">{{ i.product_name }}</a>
{% endfor %}
        </div>

      </div>

      {% endfor %}

  </div>
    </div>



    {% else %}

    <h2>Bardzo nam przykro - nasza aplikacja jest przeznaczona tylko dla osób, które posiadają login i hasło</h2>

{% endif %}

    </div>

      <!-- --------------------------- -->


{% endblock content %}
